.singleMovie {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.backdrop {
    height: 70vh;
    width: 100%;
}

.title {
    width: 50;
}

.miniPoster {
    height: 300px;
    width:  200px;
}

.detailsContainer {
    display: flex;
    flex-direction: row;
    
}

.movieInfo {
    display: flex;
    flex-direction: column;
}

.miniPoster {
    height: 300px;
    width: 200px;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 60vw;
    margin: 20px;
}

button {
 height: 40px;
 width: 120px;
}

